<h2> Source emoji json </h2>
<div class="source-info">
  <span class="source-name">Source name: {{sourceName}} - </span>
  <span class="source-count"> {{totalEmojiCount}} </span>
</div>
<div class="emoji-list-views">
  <div class="emoji-list-wrapper">
    {{input class="emoji-search" type="text" value=textSearch placeholder="Search current page"}}
    <div class="emoji-list">
        {{#each filteredSearch as |emoji index|}}
          {{!-- {{#if (and (gte index startIndex) (lte index endIndex))}} --}}
            <div class="emoji-items">
              <div class="emoji-item emoji-char"> <span>{{emoji.char}}</span></div>
              <div class="emoji-item emoji-description">
                <div class="emoji-description-name"> {{emoji.name}} </div>
                <div class="emoji-description-code"> {{emoji.code}} </div>
                <div class="emoji-description-no"> {{emoji.no}} </div>
              </div>

              <div class="emoji-item emoji-category">
                <div class="category-item"> {{radio-button checked=emoji.category value='people'}}People</div>
                <div class="category-item"> {{radio-button checked=emoji.category value='nature'}}Nature</div>
                <div class="category-item"> {{radio-button checked=emoji.category value='objects'}}Objects</div>
                <div class="category-item"> {{radio-button checked=emoji.category value='places'}}Places</div>
                <div class="category-item"> {{radio-button checked=emoji.category value='symbols'}}Symbols</div>
                <div class="category-item"> {{radio-button checked=emoji.category }}none</div>
              </div>
            </div>
          {{!-- {{/if}} --}}
        {{/each}}
    </div>
    {{#if (gt numberOfPages.length 1)}}
      <div class="emoji-pagination">
        {{#each numberOfPages as |page index|}}
            {{#if (eq (add index 1) 1)}}
              <span class="emoji-page-number" {{action 'handlePageChange' 'prev'}}> &lt;&lt;</span>
              <span class="emoji-page-number {{if (eq (add index 1) currentPage) 'selected-page'}}" {{action 'handlePageChange' (add index 1)}}>{{add index 1}}</span>
            {{else if (lt (add index 1) numberOfPages.length)}}
              <span class="emoji-page-number {{if (eq (add index 1) currentPage) 'selected-page'}}" {{action 'handlePageChange' (add index 1)}}>{{add index 1}}</span>
            {{else if (eq (add index 1) numberOfPages.length)}}
              <span class="emoji-page-number {{if (eq (add index 1) currentPage) 'selected-page'}}" {{action 'handlePageChange' (add index 1)}}>{{add index 1}}</span>
              <span class="emoji-page-number" {{action 'handlePageChange' 'next'}}> &gt;&gt;</span>
            {{/if}}
        {{/each}}
      </div>
    {{/if}}
    <div class="emoji-export">
      <a class="emoji-export-btn" {{action "generateJson"}}>
        <span class="button-label" > Download New Emoji Json </span>
      </a>
    </div>
  </div>

  <div class="emoji-category-list">
    <p class="total-count-label"> {{totalSelectedCount}} selected emoji(s).</p>
    <div class="emoji-category-list-item people">
      <a href="#" target="_blank" class="emoji-category-list-label" {{action "toggleList" "people"}}>People ({{peopleList.length}})</a>
      {{emoji-listing showList=showPeopleList emojiList=peopleList}}
    </div>

    <div class="emoji-category-list-item nature">
      <a href="#" target="_blank" class="emoji-category-list-label" {{action "toggleList" "nature"}}>Nature ({{natureList.length}})</a>
      {{emoji-listing showList=showNatureList emojiList=natureList}}
    </div>

    <div class="emoji-category-list-item objects">
      <a href="#" target="_blank" class="emoji-category-list-label" {{action "toggleList" "objects"}}>Objects ({{objectsList.length}})</a>
      {{emoji-listing showList=showObjectsList emojiList=objectsList}}
    </div>

    <div class="emoji-category-list-item places">
      <a href="#" target="_blank" class="emoji-category-list-label" {{action "toggleList" "places"}}>Places ({{placesList.length}})</a>
      {{emoji-listing showList=showPlacesList emojiList=placesList}}
    </div>

    <div class="emoji-category-list-item symbols">
      <a href="#" target="_blank" class="emoji-category-list-label" {{action "toggleList" "symbols"}}>Symbols ({{symbolsList.length}})</a>
      {{emoji-listing showList=showSymbolsList emojiList=symbolsList}}
    </div>
  </div>
</div>