<div class="emoji-list-views">
  <div class="emoji-list">
    {{#each emojiList as |emoji|}}
      <div class="emoji-items">
        <div class="emoji-item emoji-char"> <span>{{emoji.char}}</span></div>
        <div class="emoji-item emoji-name"> {{emoji.name}} </div>
        <div class="emoji-item emoji-category">
          <div class="category-item"> <input type="radio" name={{emoji.code}} id="people"> People </div>
          <div class="category-item"> <input type="radio" name={{emoji.code}} id="nature"> Nature </div>
          <div class="category-item"> <input type="radio" name={{emoji.code}} id="objects"> Objects </div>
          <div class="category-item"> <input type="radio" name={{emoji.code}} id="places"> Places </div>
          <div class="category-item"> <input type="radio" name={{emoji.code}} id="symbols"> Symbols </div>
        </div>
      </div>
    {{/each}}
  </div>

  <div class="emoji-category-list">
    <div class="emoji-category-list-item people">
       <div class="emoji-category-list-label">People</div>
       <ol class="category-list">
         {{#each emojiList as |emoji|}}
           <li> <span class="char-emoji"> {{emoji.char}} </span> <span class="name-emoji"> {{emoji.name}}</span> </li>
         {{/each}}
      </ol>
    </div>

    <div class="emoji-category-list-item nature">

    </div>

  </div>
</div>

<div class="emoji-export">
  <button class="emoji-export-btn" type='button'>
    <span class="button-label"> Download </span>
  </button>
</div>